# ignore cache data
api_json/*

# ignore log folder
logs/*

# ignore config file
#config.php

# ignore toplevel_data

toplevel_data/*

# ignore composer lock file
composer.lock

# ignore vendor folder
#vendor/
